{$DOMAIN} {
    root * /srv/site
    encode gzip
    templates /imprint/*
    reverse_proxy /api/book* booking:3000
    file_server
}

{$BLOG_SUBDOMAIN} {
    encode gzip
    reverse_proxy ghost:2368
}
