<header class="site-header">
    <div class="site-header__inner">
        <a href="{{@site.url}}" class="site-header__title">{{@site.title}}</a>
        <nav class="site-nav" aria-label="Primary">
            <ul class="site-nav__list">
                {{!-- Hardcoded Home link to the main site. Local dev: http://localhost/ ; production: https://paulwerner.net/ --}}
                <li class="site-nav__item"><a class="site-nav__link" href="http://localhost/">Home</a></li>
                {{#foreach @site.navigation}}
                <li class="site-nav__item"><a class="site-nav__link{{#if current}} is-current{{/if}}" href="{{url}}">{{label}}</a></li>
                {{/foreach}}
            </ul>
        </nav>
    </div>
</header>
