<ul class="site-nav__list">
    <li class="site-nav__item"><a class="site-nav__link" href="https://paulwerner.net/">Home</a></li>
    {{#foreach @site.navigation}}
    <li class="site-nav__item"><a class="site-nav__link{{#if current}} is-current{{/if}}" href="{{url}}">{{label}}</a></li>
    {{/foreach}}
</ul>