{{!< default}}

<section class="error">
    <h1 class="error__code">404</h1>
    <p class="error__message">This page doesn&rsquo;t exist.</p>
    <a href="{{@site.url}}" class="error__link">&larr; Back to writing</a>
</section>
